@font-face
{
    font-family: 'wendy';
    font-style: normal;
    font-weight: 400;
    src: url("../font/wendy.ttf") format('truetype');
}

*
{
    margin: 0; 
    padding: 0; 
    border: 0; 
    outline: 0;
}

body
{
    font-family: 'wendy';
    font-size: 20px;

    color: #FFF; 
    overflow: hidden;

    cursor: none;

    background: -webkit-linear-gradient(#230527, #3608A8);
    background: -o-linear-gradient(#230527, #3608A8); 
    background: -moz-linear-gradient(#230527, #3608A8); 
    background: linear-gradient(#230527, #3608A8);

}

canvas#stage
{
    z-index: 50;
    position: absolute;
    left: 0px;
    top: 0px;
}